$mainColor: rgb(255, 255, 255);
$contentBackground: rgb(33, 35, 46);
$bgImage: url('../img/m-h-night.jpg');
$markWord: rgb(255, 78, 51);
$headerText: rgb(255, 255, 255);
$bgcButtons: rgb(227, 172, 0);
$cardBackground: rgb(59, 63, 80);
$cardColor: rgb(255, 255, 255);
$sectionGradient: linear-gradient(to right, rgb(218, 158, 9), rgb(155, 58, 73));

$mainFont: 'Fresca', sans-serif;
$secondFont: 'Hind', sans-serif;
