$mainColor: #000;
$contentBackground: rgb(255, 255, 255);
$bgImage: url('../img/m-h-day.jpg');
$markWord: rgb(20, 160, 199);
$bgcButtons: rgb(105, 153, 0);
$cardBackground: rgb(33, 35, 46);
$cardColor: rgb(255, 255, 255);
$sectionGradient: linear-gradient(to right, rgb(96, 144, 30), rgb(51, 97, 195));

$mainFont: 'Hind', sans-serif;
$secondFont: 'Source	Sans	Pro', sans-serif;
