#app-root {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  text-align: center;
}

.form-group {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-left > div {
  display: flex;
  align-items: center;
}

.table {
  display: none;
}

.table-show {
  margin-top: 30px;
  display: block;
  border-collapse: collapse;
}

th {
  color: #fff;
  background-color: green;
  text-align: center;
  vertical-align: baseline;
  padding: 10px 20px;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

td {
  text-align: center;
  padding: 10px 20px;
  vertical-align: middle;
  border: 1px solid #e8e8e8;
}

tr {
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

tr:nth-child(2n) {
  background-color: #fff;
}

.arrow {
  display: inline-block;
  color: yellow;
  font-size: 13px;
  cursor: pointer;
}

.arrow-transform {
  transform: rotate(180deg);
  vertical-align: middle;
}

.languages {
  width: 300px;
}

.message {
  display: none;
}
.show {
  display: block;
  text-align: center;
}
