* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
}
.header {
  background: url('../img/header-bg.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.btn-touch {
  background: url('../img/touch-bg.png') no-repeat center;
  font-family: inherit;
}

.slider-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(183, 0, 255);
}

.contact {
  background-color: #000;
}

input {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid #fff !important;
}
input::placeholder {
  color: #fff !important;
}

.footer {
  background: url('../img/footer-bg.jpg') no-repeat center;
}

.subtitle::after {
  content: '';
  display: block;
  width: 5%;
  height: 3px;
  background-color: gray;
  margin: 10px auto 0;
}

.referens-bg {
  left: -20px !important;
  bottom: -20px !important;
  z-index: -1 !important;
}

.copyright {
  font-size: 12px !important;
  font-weight: 300 !important;
}
