/* START: Task 1 Styles */
* {
  box-sizing: border-box;
}

.center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
table {
  margin: 0 auto;
}

td {
  text-align: center;
  padding: 40px 40px;
  vertical-align: middle;
  border: 1px solid #000;
}

tr {
  border: 1px solid #000;
}

.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

form {
  width: 300px;
}

p {
  padding: 20px 10px;
}

input {
  width: 220px;
  border: 1px solid black;
  padding: 5px;
}
button {
  padding: 4px 10px;
  width: 75px;
}
.red,
.green {
  background-color: rgba(255, 0, 0, 0.555);
  color: #fff;
}
.green {
  background-color: green;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */

.court,
.scores-board {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.court {
  height: 330px;
  margin: 100px auto 0;
  background: url('./assets/court.png') no-repeat center;
  background-size: contain;
  position: relative;
}

.basketball {
  width: 40px;
  height: 40px;
  transition: all 0.3s linear;
}

.scores-board {
  margin: 0 auto;
  justify-content: space-between;
}

.score-show {
  text-align: center;
  display: none;
}
/* END: Task 3 Styles */
