*,
*::before,
*::after {
  box-sizing: border-box; }

.header_text + div, .landing-logo, .section_card, .section_banner, .footer-wrap {
  display: flex;
  align-items: center; }

.header_heading, .section_text, .section_card_heading, .section_banner_heading {
  font-family: 'Hind', sans-serif; }

body {
  background-color: #21232e;
  max-width: 1620px;
  margin: 0 auto;
  color: white;
  font-family: "Fresca", sans-serif; }

.header {
  margin-top: 100px; }
  .header-wrap {
    background: url("../img/m-h-night.jpg") no-repeat center;
    height: 600px;
    padding: 0 0 0 125px;
    border-bottom-right-radius: 340px; }
  .header_heading {
    position: relative;
    max-width: 600px;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.1;
    z-index: 5; }
    .header_heading::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      top: 73px;
      left: 0;
      background-color: #ff4e33;
      width: 233px;
      height: 38px; }
  .header_text {
    font-size: 13px;
    margin: 0; }
  .header_text + div {
    justify-content: space-between;
    margin-top: 50px;
    max-width: 400px; }
    .header_text + div .login {
      color: #fff;
      font-family: 'Hind', sans-serif; }
  .header_button {
    color: #fff;
    background-color: #e3ac00;
    padding: 7px 40px;
    font-family: 'Hind', sans-serif;
    border: 0;
    outline: 0; }

.landing-logo {
  padding-top: 15px; }
  .landing-logo p {
    margin: 0 0 0 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5; }
    .landing-logo p span {
      display: block;
      text-align: center;
      font-weight: normal;
      font-size: 10px; }

.section {
  font-family: "Fresca", sans-serif;
  position: relative; }
  .section_text {
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    padding: 30px 0; }
    .section_text::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      background-color: #ff4e33;
      top: 15px;
      right: 613px;
      width: 140px;
      height: 50px; }
  .section_card_wrap {
    margin: 0 auto;
    max-width: 800px; }
  .section_card {
    margin-bottom: 15px;
    background-color: #3b3f50;
    padding: 15px; }
    .section_card_img {
      width: 40%;
      display: block;
      border-radius: 5px; }
    .section_card_right_container {
      width: 60%;
      text-align: center; }
    .section_card_heading {
      color: white;
      margin: 0; }
    .section_card_text {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6); }
    .section_card_text {
      text-align: justify;
      max-width: 370px;
      margin: 30px auto;
      line-height: 1.5; }
  .section_link {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }

.section_card:nth-child(2) .section_card_img {
  width: 38%; }

.section_card:last-child .section_card_img {
  width: 45%; }

.section_banner {
  position: absolute;
  justify-content: space-between;
  bottom: -250px;
  left: 330px;
  width: 860px;
  padding: 30px 100px;
  background: linear-gradient(to right, #da9e09, #9b3a49);
  border-radius: 5px;
  z-index: -2; }
  .section_banner_heading {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 700; }
    .section_banner_heading::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      background-color: #ff4e33;
      top: 17px;
      right: 636px;
      width: 41px;
      height: 40px; }
  .section_banner_text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0; }
  .section_banner_button {
    color: #fff;
    background-color: #e3ac00;
    padding: 7px 40px;
    font-family: 'Hind', sans-serif;
    border: 0;
    outline: 0; }

.footer {
  position: relative;
  background-color: #3b3f50;
  margin-top: 200px;
  padding: 100px 125px 50px;
  z-index: -3; }
  .footer-wrap {
    margin: 0 auto;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6); }
  .footer_text {
    margin: 0;
    width: 285px;
    line-height: 1.5; }
  .footer-cr, .footer_text {
    font-size: 13px; }
