:root {
  --blue: #0078aa;
  --dark: #363636;
  --light: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: inherit;
}

body,
p,
h1,
h2,
h3,
h4,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1460px;
  margin: 0 auto;
  color: var(--dark);
}

button {
  font-family: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  z-index: 2;
  position: sticky;
  top: 5px;
}

.header-wrapper {
  margin: 0 auto;
  padding: 0 130px;
  background: url('../img/header_bg.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.nav-link {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in;
}
.nav-link:hover {
  color: var(--blue);
}
.nav-list {
  display: flex;
}
.nav-link {
  padding: 10px 15px;
}
.header-info {
  max-width: 500px;
  padding-top: 250px;
}
.header-title {
  font-size: 35px;
  font-weight: 700;
}
.header-text {
  max-width: 450px;
  padding: 25px 0;
  color: #808080;
}

.header-icons {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

.header-icon svg,
.arrow-up svg {
  width: 48px;
  height: 48px;
  fill: var(--light);
  border-radius: 50%;
  padding: 12px;
  background-color: var(--blue);
  transition: all 0.3s ease-in;
}

.header-icon svg:hover,
.arrow-up svg:hover {
  background-color: var(--light);
  fill: var(--blue);
  border: 1px solid var(--blue);
}

.arrow-up {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 3;
}

.about,
.prices {
  padding: 100px 0;
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-item {
  width: 48%;
}
.about-img {
  display: block;
  max-width: 100%;
}
.section-title {
  font-size: 30px;
}
.section-subtitle {
  color: var(--blue);
  padding: 10px 0;
  display: block;
  font-size: 14px;
  font-weight: normal;
}
.about-info {
  max-width: 390px;
  padding-top: 10px;
}
.info-head {
  display: flex;
  align-items: center;
}
.info-arrow {
  font-size: 14px;
  color: var(--blue);
}
.info-title {
  font-weight: 700;
  font-size: 14px;
  padding-left: 10px;
}
.info-text {
  font-size: 12px;
  padding-top: 5px;
}

.help {
  background: url('../img/services_bg.jpg') no-repeat center;
  background-size: cover;
  padding: 100px 0;
}

.title-center,
.subtitle-center {
  text-align: center;
  color: var(--dark);
}
.help__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.help__item {
  padding: 20px;
  background-color: var(--light);
}

.help__item-title {
  padding: 10px 0;
}
.help__item-text {
  font-size: 14px;
}

.prices {
  background: url('../img/pricing_bg.jpg') no-repeat center;
  background-size: cover;
}

.prices-items {
  display: flex;
  margin-top: 100px;
}
.prices-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: rgb(71, 201, 229);
  padding: 50px 10px;
  color: var(--light);
}

.item-active {
  background-color: var(--light);
  border: 1px solid var(--blue);
  transform: scale(1, 1.2);
  color: var(--blue);
  justify-content: center;
  padding: 80px 10px;
}
.prices-name,
.prices-price {
  font-weight: 700;
}
.prices-name {
  font-size: 18px;
}
.prices-price {
  font-size: 50px;
}
.prices-treatments,
.prices-info {
  padding: 10px 0;
}
.prices-info {
  font-size: 12px;
}
.item-active > .prices-info {
  padding: 6px 0;
}
.item-active > .prices-treatments {
  padding: 6px 0;
}

.prices-button {
  color: var(--blue);
  background-color: var(--light);
  border: 1px solid var(--blue);
  padding: 7px 15px;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
}
.item-active > .prices-button {
  padding: 4px 15px;
}

.contact-wrapper {
  display: flex;
}
.contact-item {
  width: 50%;
}
.contact-item:last-child {
  align-self: center;
  padding-left: 20px;
}
.contact-img {
  display: block;
  max-width: 100%;
  min-height: 100%;
}

.contact-subtitle {
  color: var(--dark);
}
.form {
  padding: 20px 20px 20px 0;
}
.form-input {
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
}
.form-input::placeholder {
  font-style: italic;
  font-size: 12px;
}
.form-submit {
  color: var(--light);
  background-color: var(--blue);
  padding: 7px 15px;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: 0;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.form-submit:hover {
  background-color: var(--light);
  color: var(--blue);
  border: 1px solid var(--blue);
  cursor: pointer;
}

.footer {
  background-color: var(--dark);
  padding: 10px 10px;
  text-align: center;
}
.footer-copyright {
  color: var(--light);
  font-size: 12px;
}

@media (min-width: 1280px) {
  .header-wrapper {
    height: 700px;
    border-bottom-right-radius: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header-wrapper {
    border-bottom-right-radius: 0;
    padding: 0 15px;
    height: 570px;
    border-bottom-right-radius: 15%;
  }
  .form {
    padding-bottom: 60px;
  }
  .header-info {
    padding-top: 190px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 0;
  }
  .header-top {
    flex-direction: column;
  }
  .nav {
    padding-top: 10px;
  }
  .nav-link {
    font-size: 12px;
    padding: 0 3px;
  }
  .header-info {
    text-align: center;
    max-width: 100%;
    padding-top: 110px;
  }
  .header-text {
    max-width: 100%;
  }
  .nav-link {
    padding: 10px 5px;
  }
  .header-title {
    max-width: 330px;
    margin: 0 auto;
  }
  .header-icons {
    margin: 0 auto;
  }
  .header-wrapper {
    max-height: 430px;
    padding: 0px 10px;
  }
  .section-subtitle {
    padding: 5px 0;
  }
  .about,
  .prices {
    padding: 30px 0;
  }
  .about-wrapper {
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
  }
  .about-item {
    width: 100%;
    text-align: center;
  }
  .about-info {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
  .info-head {
    justify-content: center;
  }
  .help {
    padding: 30px 0;
  }
  .help__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .prices-items {
    flex-direction: column;
    margin-top: 0;
  }
  .prices-item {
    padding: 30px 10px;
    margin-top: 20px;
  }

  .item-active {
    transform: scale(1, 1);
    padding: 30px 10px;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-item {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
  }

  .contact-item > .section-title {
    max-width: 350px;
    margin: 0 auto;
  }
  .contact-item:last-child {
    padding-left: 0;
  }
  .form {
    padding: 20px 20px 0 20px;
  }
}
