* {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
form {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
